<?xml version="1.0" encoding="utf-8"?>
<launch>
	<remap from="/scan" to="/base_laser1_scan" />
	<node
		name= "des_state_subscriber"
		pkg= "p7_beta"
		type= "des_state_subscriber_ps7"
		output="screen"
		/> 

	<node
		name= "lidar_braker2"
		pkg= "p7_beta"
		type= "lidar_braker2_ps7"
		args="1.0 0.5"
		output="screen"
		/> 
<!--
	<node
		pkg="p7_beta"
		name="nl_steering"
		type="nl_steering"
		args="5.0 1.5 1.0"
		/>
	-->
	<node
		pkg="p7_beta"
		name="lswrto"
		type="lswrto"
		args="5.0 1.5 1.0"
		/>
	<!-- Original args: 10 3 1 -->
</launch>
