<?xml version="1.0" encoding="utf-8"?>
<launch>
	<remap from="/scan" to="/base_laser1_scan" />

	<node
		pkg="rviz"
		name="rviz"
		type="rviz"
		/>

	<node
		name= "des_state_subscriber"
		pkg= "p7_beta"
		type= "des_state_subscriber"
		output="screen"
		/> 

	<node
		name= "lidar_braker2"
		pkg= "p7_beta"
		type= "lidar_braker2"
		args="1.0 0.5"
		/> 

	<node
		pkg="p7_beta"
		name="lswrto"
		type="lswrto"
		args="10 3 1"
		/>
	<!-- Original args: 10 3 1 -->
</launch>
